@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000 !important;
    font-family: Calibri, serif;
    display: flex;
    justify-content: center;
    color: #f5f5f5;
}

a {
    text-decoration: none;
}

footer {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 1vh;
    width: 100%;
    font-size: 1.5vh;
    cursor: default;
}

footer p {
    margin: 0.5vh;
}

.highlight-link {
    color: #7b68ee;
    margin: 0.2vh;
}

.highlight-link:hover {
    color: #ab9ff4;
}

#loader {
    display: flex;
    margin: 36vh;
}

.main-container {
    margin: 4vh 2vw;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo {
    border-radius: 100%;
    height: 26vh;
    margin: 1vh;
}

#photo {
    display: none;
}

.greeting {
    margin: 2vh 0;
    width: 100%;
    height: auto;
}

#contact {
    display: none;
}

.links-container {
    display: flex;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5 !important;
    border-radius: 2vh;
    margin: 1vh;
    height: 7vh;
    width: 62vw;
    transition: transform 0.5s ease;
}

.ico {
    height: 80%;
}

.small-ico {
    height: 2vh;
    margin: 0 0.3vw;
}

.mail-button {
    display: flex;
    flex-direction: row;
}

.chat-window {
    background-color: #4ba508;
    color: #000000 !important;
    border-radius: 2vh;
    margin: 1vh;
    height: 43vh;
}

.chat {
    height: 100%;
    margin: 1vh;
}

#chat-iframe {
    height: 90%;
    border-radius: 1vh;
}

#gg-status {
    height: 4.5vh;
    width: auto;
}

.chat-window-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin: 0.5vh 1vh 0.5vh 0;
    width: 2vh;
    height: 2vh;
    color: #000000;
    cursor: pointer;
    font-size: 1vh;
}

.chat-window-buttons:hover {
    color: #4ba508;
    cursor: pointer;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 15vw;
}

.label-hover {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

.link:hover .label {
    display: none;
}

.link:hover .label-hover {
    display: flex;
}

.copy:hover {
    cursor: copy;
}

.photo:hover {
    cursor: crosshair;
}